<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyg.edu.mapper.CourseMapper">
    <select id="getCourseDetails" resultType="com.lyg.edu.entity.CourseDetails">
    select c.id id, c.title courseName,c.lesson_num lessonNum, c.price price, c.cover url,c.`status` status,s.title parentSubject,su.title subject,t.name teacherName
    from edu_course c
    LEFT JOIN edu_subject s ON c.parent_subject_id=s.id
    LEFT JOIN edu_subject su on c.subject_id=su.id
    LEFT JOIN edu_teacher t ON c.teacher_id=t.id
    WHERE c.id=#{id}
</select>
    <select id="getChapterId" resultType="java.lang.String">
        select ch.id chapterId from edu_course cou
                   JOIN edu_chapter ch on ch.course_id=cou.id
        WHERE cou.id=#{id}
    </select>
    <select id="getCourseDetailsById" resultType="com.lyg.edu.entity.query.FrontCourseDetails">
         SELECT c.id id,c.price price ,c.title title, par.title parTitle,sub.title subTitle ,c.cover cover,c.buy_count buyCount,c.lesson_num lessonNum,c.view_count viewCount,
                cd.description description,
                 tea.id teacherId,
                tea.`name` teacherName,
                tea.intro intro
                from edu_course c
                join edu_course_description cd on c.id=cd.id
                join edu_teacher tea on c.teacher_id=tea.id
                join edu_subject par ON c.parent_subject_id=par.id
                join edu_subject sub on c.subject_id=sub.id
                WHERE c.id=#{id}
    </select>
</mapper>
