<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyg.edu.mapper.VideoMapper">
    <select id="getVideoByChapterIds" parameterType="list" resultType="com.lyg.edu.entity.Video">

        select id ,video_source_id FROM edu_video
        <where>
            chapter_id in
            <foreach collection="chapterListIds" item="chapterId" index="index"
                     open="(" close=")" separator=",">
                #{chapterId}
            </foreach>
        </where>
    </select>
</mapper>
